<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF" monitorInterval="600">
    <Appenders>
        <!--这个输出控制台的配置-->
        <Console name="Console" target="SYSTEM_OUT">
            <!--控制台只输出level及其以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <!--日志输出的格式-->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %5t %4c:%L %m%n" />
        </Console>
    </Appenders>
    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->
    <Loggers>
        <Root level="INFO">
            <Appender-Ref ref="Console"/>
        </Root>
    </Loggers>

</Configuration>